{% extends '/employee/index.html.twig' %}

{% block title %}Planning{% endblock %}

{% block content %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ planning.dateDebut ? planning.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ planning.dateFin ? planning.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ planning.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planning_index') }}">back to list</a>

    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">edit</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
