{% extends '/employee/index.html.twig' %}

{% block content %}
    <h1>Quiz: {{ quiz.title }}</h1>

    <p>{{ quiz.description }}</p>

    <h2>Questions</h2>

    <ul>
        {% for question in quiz.questions %}
            <li>{{ question.title }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}">Edit</a>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
