{% extends '/employee/index.html.twig' %}

{% block title %}Budget index{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">Gestion du budget</h1>
                <p>Voila la liste de tout les budgets</p>

            </div>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <!--  <th>Id</th>-->
            <th>Budget</th>
            <th>Date</th>
            <th>Prime</th>
            <th>budget_materiel</th>
            <th>budget_salaire</th>
            <th>budget_service</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <!-- <td>{{ budget.id }}</td>-->
                <td>{{ budget.budget }}</td>
                <td>{{ budget.date ? budget.date|date('Y-m') : '' }}</td>
                <td>{{ budget.prime }}</td>
                <td>{{ budget.budget_materiel }}</td>
                <td>{{ budget.budget_salaire }}</td>
                <td>{{ budget.budget_service }}</td>
                <td>

                </td>
            </tr>
        {% else %}

        {% endfor %}
        </tbody>
    </table>


{% endblock %}
